body {
    font-family: 'Poppins', sans-serif !important;
	background: url("../img/neon-hk.jpg") no-repeat center center fixed;
	background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #ffc31c solid !important;
    font-size: 16px;
}

#section1 * {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #ffdc58 !important;
     font-weight: bold !important;
 }

 .login-btn {
     border: 2px solid #ffc31c !important;
     font-size: 10px !important;
 }
 .login-btn:hover {
     background: #d08a00 !important;
 }
.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #97A6FF!important
}
.btn-secondary {
    background-color: #2C2F33 !important
}
.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../img/wavy-gold-by-danta.png") !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    padding: 60px 50px !important;
    background-image: url("../img/wavy-gold-bottom.png") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 18px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
}

.features .card-title {
    margin: 0 0 -5px !important;

}
.cards {
    margin-top: 35px !important;
}

.card {
    border-radius: 5x !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #ffdc58 !important;
}

.statistics {
    text-align: center !important;
    padding-top: 300px !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #97A6FF;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}


.page_end {
    background-image: url("../img/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    border: 4px solid #ffa618;
}
.features .card-text {
color: rgba(255, 255, 255, 0.46) !important
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #ffdc58 !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: #a2a8bd !important
}

html {
  scroll-behavior: smooth;
 }
 
 a {
  text-decoration: none;
  color: black;
 } 
 
 #down {
  margin-top: 100%;
  padding-bottom: 25%;
 } 
